body{
}

.clr{
	clear:both;
}

.button{
    background-color: white;
    border-color: black;
    color: black;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 50px;;
}

canvas{
    width:750px;
	height: 500px;
	border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}