.clr{
	clear:both;
}

.level{
    margin-left: auto;
    margin-right: auto;
}

p{
    background-color: white;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    height: 70px;
    width: 200px;
    margin:0;
}

.buttons{
    float: left;
    border: none;
    background-color: white;
    width:70px;
    height:70px;
}

.button{
    display: block;
    background-color: white;
    padding: 10px 25px;
    width:100%;
    border: none;
}

canvas{
    width:750px;
	height: 500px;
	border: 1px solid black;
    position: fixed;
    left: 125px;
    /*float:right;*/
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
    display:none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.timer {
    width: 200px;
    height: 100px;
    font-size: 20px;
    border: 1px solid black;
}

.slidecontainer {
    width: 100%; 
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: grey;
    outline: 1px solid black;
    opacity: 1.0;
    transition: .2s;
    transition: opacity .2s;
}

.slider::slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 30px;
    background: white;
    outline: black;
    cursor: pointer;
  }
