.clr{
	clear:both;
}

.h1{
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    float: left;
    border: none;
    background-color: white;
    width:70px;
    height:70px;
}

.button{
    display: block;
    background-color: white;
    padding: 10px 25px;
    width:100%;
    border: none;
}

canvas{
    width:750px;
	height: 500px;
	border: 1px solid black;
    position: fixed;
    left: 125px;
    /*float:right;*/
}