@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family:"Karmatic Arcade";
    src: url("../Level/fonts/BenMaticArcade4.otf") format("opentype");
}

body {
    background-color: #3b3963;
    background-image: url("../Level/images/Background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    margin: 0;
    font-family: "Karmatic Arcade";
}

h1 {
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    background-size: cover;
    cursor: pointer;
}

.grid-item{
    display: inline-block;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto;
    /*background-color: white;
    color: black;*/
    padding: 10px;
    margin: 30px;
  }

.home {
    background-image: url("../Images/home.png");
}