# Dot Underscore files
**/._*

#VS Code config files
**/.vscode*
**/workspace*

#R files
**/.Rhistory

#Mac folders
**/.DS_Store

#Other Files
**/policyResults.txt
**/CountryReference.txt
Notes
Personal