@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family:"Karmatic Arcade";
    src: url("Level/fonts/BenMaticArcade4.otf") format("opentype");
}

html{
    text-align: center;
    font-family: "Karmatic Arcade";
}

body {
    background-color: #3b3963;
    background-image: url("Images/index.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

div {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 650px;
    height: 100px;
    top: 50%;
    margin-top: 5px;
    left: 50%;
    margin-left: -325px;

}

.start {
    margin: 0px auto;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("Images/start.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 613px;
    height: 30px;
    display: block;
    cursor: pointer;
    
}

.start:hover {
    background-image: url("Images/startVac.png");
}

.start:focus {
    background-image: url("Images/startVacClick.png");
}

.leader {
    margin: 0px auto;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("Images/leader.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 613px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.leader:hover {
    background-image: url("Images/leaderVac.png");
}

.leader:active {
    background-image: url("Images/leaderVacClick.png");
}

.help {
    margin: 0px auto;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("Images/help.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 613px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.help:hover {
    background-image: url("Images/helpVac.png");
}

.help:active {
    background-image: url("Images/helpVacClick.png");
}