html{
    text-align: center;
    font-family: Verdana;
    
}

body {
    background-color: #3b3963;
    background-image: url("Images/index.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

div {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 650px;
    height: 100px;
    top: 50%;
    margin-top: 5px;
    left: 50%;
    margin-left: -325px;

}

.start {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("Images/Start.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 389px;
    height: 31px;
    display: block;
    
}

.start:hover {
    background-image: url("Images/vacStart.png");
}

.leader {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url("Images/Leader.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 616px;
    height: 31px;
    display: block;
}

.leader:hover {
    background-image: url("Images/vacLeader.png");
}